<h1>User Sections</h1>

<section>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th scope='col'>User Section ID</th>
        <th scope='col'>Section ID</th>
        <th scope='col'>User</th>
        <th scope='col'>Status</th>
        <th scope='col'>Section Type</th>
        <th scope='col'>Analyze Validity</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='section in vm.sections'>
        <th scope='row'>{{ section.userSectionId }}</th>
        <td>{{ section.sectionId }}</td>
        <td>{{ section.user }}</td>
        <td>{{ section.status }}</td>
        <td>{{ section.sectionType }}</td>
        <td>
          <button ng-click='vm.goToAnalysis(section.userSectionId)'>Analyze</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>